<nav class="navbar navbar-expand navbar-dark" style="background-color: #29487d;">
    <div class="container">
      <a class="navbar-brand" href="/">Fakebook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" *ngIf="isAuthenticated" routerLink="/user/">Profile <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0" (submit)="onSubmit()">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" [formControl]="searchName">
          <input type="submit" class=" btn btn-primary btn-sm " value="Search">
        </form>
        <button class="ml-3 btn btn-outline-info" *ngIf="!isAuthenticated" (click)="login()">Login</button>
        <button class="ml-3 btn btn-outline-info" *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>