<button type="button" class="btn btn-primary" (click)="openModal(template)">Edit Profile</button>
     
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Profile</h4>
 
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="name">First Name</label>
        <input type="text" class="form-control" name="firstName" [formControl]="firstName" value="{{user.firstName}}">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" name="firstName" [formControl]="lastName" value="{{user.lastName}}">
        <label for="name">Status</label>
        <textarea [formControl]="status" class="form-control" value="{{user.status}}" rows=3></textarea>
        <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>  