  <!-- Site footer -->
  <footer class="site-footer bg-dark text-muted">
    <div class="container">
      <div class="row ">
        <div class="col-sm-12 mt-5">
          <h5><i> It's what you share. </i></h5>
          <p class="text-justify">Fakebook is a full-stack web application running on the .NET Platform to provide you a social media experience like no other. Feel free to sign up, write a post or two and make friends here. We developed a minimalistic user interface that we believe our users are bound to enjoy.</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <a href="https://github.com/2011-nov02-net/project2-fakebook"><i class="fab fa-github"></i> Github</a>
        </div>
      </div>
    </div>
</footer>