  <!-- Site footer -->
  <footer class="site-footer bg-dark text-muted">
    <div class="container">
      <div class="row ">
        <div class="col-sm-12 col-md-6 mt-5">
          <h6>About</h6>
          <p class="text-justify"> Fakebook <i> It's what you share </i> Is a front end website using ASP.NET Rest API's in the background to provide you a social media experience like no other. Feel free to sign up, make a post, and make friends here. We made a minimal front-end work that we believe our users are bound to enjoy.</p>
        </div>

        <div class="col-xs-6 col-md-3 mt-5">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 mt-5">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Fakebook</a>.
          </p>
        </div>
      </div>
    </div>
</footer>