<!-- Box containing one post and its comments -->
<div *ngIf="post" class="social-feed-box">
  <div class="social-avatar">
    <div class="row">
      <a href="" class="pull-left">
        <img class="rounded-circle img-sm" alt="image" src="{{post.user.profilePictureUrl}}">
      </a>
      <div class="media-body">
        <a href="#">
          {{post.user.firstName + " " + post.user.lastName}}
        </a>
        <small class="text-muted">{{post.createdAt | date:'medium'}}</small>
      </div>
    </div>
  </div>
  <div class="social-body">
    <p>
      {{post.content}}
    </p>
    <div class="btn-group">
      <!-- <button (click)="likePost(post)" class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like</button> -->
      <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
    </div>
  </div>

  <!-- Iteration through all comments for the post -->
  <div *ngIf='post.comments.length > 0' class="social-footer">
    <ul *ngFor="let comment of post.comments">
      <app-comment-view [comment]='comment'></app-comment-view>
    </ul>
  </div>

  <!-- Box for making new comments responding to the post -->
  <app-comment-form></app-comment-form>
</div>
