<div class="mt-5 container">
    <div class="row">
        
        
        <div class="col-md-6">
            <h2>Technologies Used</h2>
            <ul>

      
            </ul>
        </div>

        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/ASP.NET-Logo%2BASP.png">
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/Okta.PNG">
        </div>
        
        <div class="col-md-6">

        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/github.PNG">
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/mobile.PNG">
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/pipes.PNG">
        </div>
    </div>


    <div class="row">


        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/scrum-board.PNG">
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/sonar.PNG">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/2011-nov02-net/project2-fakebook/master/pictures/unknown.png">
        </div>

        <div class="col-md-6">

        </div>
  
    </div>
</div>